/* Setup */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Monaspace Neon', monospace;
	font-size: 1.2rem;
}



pre {
	font-size: 1.2rem;
	min-width: 100%;
}

html,
body {
	margin: 0;
	nma
}

p {
	color: var(--blue-2);
	font-size: 1.5rem;
}


/* Media queries for phones */
@media (max-width: 767px) {
	
	body {
		padding: 1rem;
		
	}
	pre {
		min-width: 100%;
	}

	h1, h2, h3, h4 {
		font-size: 1.5rem;
	}
	code {
		white-space : pre-wrap !important;
		width: 100%;
	}
	


}
