/* Setup */

* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100svh;
	display: grid;
	place-content: center;
	font-family: 'Monaspace Neon', monospace;
	background-color: oklch(23.66% 0.02 271.79);
}

pre {
	font-size: 1rem;
	min-width: 80%;
}

html,
body {
	margin: 0;
	overflow-y: auto; /* or scroll */
}

/* Media queries for phones */
@media (max-width: 767px) {
	
	body {
		font-size: 0.9rem;
		padding: 1rem;
		
	}
	pre {
		font-size: 0.9rem;
		min-width: 100%;
	}

	h1, h2, h3, h4 {
		font-size: 1.5rem;
	}
	code {
		white-space : pre-wrap !important;
	}
	


}